*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    font-size:  50px    ;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    width: 85%;
    height: 500px;
    background-color: rgb(255, 255, 255);
}
